name: Deploy to DigitalOcean

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to Server via Rsync
      uses: easingthemes/ssh-deploy@main
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        ARGS: "-rlgoDzvc -i"
        SOURCE: "/"
        REMOTE_HOST: ${{ secrets.SSH_HOST }}
        REMOTE_USER: "kevin"
        TARGET: "/var/www/xuanye.site/"
        EXCLUDE: "/dist/, /node_modules/"
